body{
    margin: 0;
    text-align: center;
}
h1{
    color: #66bfbf;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
}
h2{
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
}
h3
{
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
}
div{
    background-color: #E4F9F5;
} 
.top-container
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.pro{
    text-decoration: underline;
}
.top-cloud
{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud
{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.school
{
width: 25%;
float: left;
margin-right: 30px;
}
.clg
{
width: 25%;
float: right;
margin-left: 30px;
}
.btn {
    background: #0099ff;
    background-image: -webkit-linear-gradient(top, #0099ff, #0ebfeb);
    background-image: -moz-linear-gradient(top, #0099ff, #0ebfeb);
    background-image: -ms-linear-gradient(top, #0099ff, #0ebfeb);
    background-image: -o-linear-gradient(top, #0099ff, #0ebfeb);
    background-image: linear-gradient(to bottom, #0099ff, #0ebfeb);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .bottom-container
  { 
      margin-top: 20px;
      background-color: #66bfbf;
     padding: 50px;
  }